.about-container {
    text-align: center;
    padding: 30px;
}

.features {
    border: 1px solid lightslategrey;
    padding: 30px 20px 60px 20px;
}

.best-section {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid lightslategrey;
}

.title {
    font-size: 25px;
    padding-bottom: 15px;
}