.not-found {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    margin: 20px;
}

.not-found h2 {
    font-size: 120px;
}

.home-btn {
    text-decoration: none;
    color: lightgrey;

}

.home-btn:hover {
    color: darkslategrey;
}